laravel_app/node_modules
laravel_app/public/hot
laravel_app/public/storage
laravel_app/storage/*.key
laravel_app/vendor
laravel_app/.env
laravel_app/.env.backup
laravel_app/.phpunit.result.cache
laravel_app/Homestead.json
laravel_app/Homestead.yaml
laravel_app/npm-debug.log
laravel_app/yarn-error.log
laravel_app/.phpintel

# Vue part
Vue_app/.DS_Store
Vue_app/node_modules
Vue_app//dist


# local env files
Vue_app/.env.local
Vue_app/.env.*.local

# Log files
Vue_app/npm-debug.log*
Vue_app/yarn-debug.log*
Vue_app/yarn-error.log*
Vue_app/pnpm-debug.log*

# Editor directories and files
Vue_app/.idea
Vue_app/.vscode
Vue_app/*.suo
Vue_app/*.ntvs*
Vue_app/*.njsproj
Vue_app/*.sln
Vue_app/*.sw?